* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-div {
    width: 100%;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #010740;
    margin: 20px 0;
}

h2 {
    font-family: 'poppins', sans-serif;
    margin-bottom: 20px;
}

h3 {
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    max-width: 300px;
    margin: 10px 0;
}

p {
    font-family: 'metropolis', sans-serif;
    font-size: 11pt;
}

header {
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    background-color: #fefefe;
}

#logo-group {
    display: flex;
    width: 400px;
    align-items: center;
    /* justify-content: center; */
}

#logo img {
    width: 80px;
    padding: 0 10px 0 10px;
}

#business-name a {
    text-decoration: none;
    font-family: metropolis;
    font-weight: 500;
    color: #010740;
}

header > div:nth-of-type(2) {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 480px;
    padding: 0 10px 0 10px;
}

nav ul {
    list-style: none;          /* removing bullets */
    margin: 0;
    display: flex;             /* making nav items horizontal */
    justify-content: center;   /* centering them horizontally */
    align-items: center;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: metropolis;
    font-weight: 500;
    font-size: 12pt;
}

nav a:hover {
    color: #2DB9FE;
}

.get-in-touch-btn {
    margin: 0 15px;
    width: 140px;
    height: 40px;
    background-color: #2DB9FE;
    border: none ;
    border-radius: 8px;
    color: #fefefe;
    font-family: metropolis ;
    font-weight: 500;
    font-size: 12pt;
    padding: 0 10px;
    text-align: center;
}

.login-btn {
    margin: 0 20px;
    width: 120px;
    height: 40px;
    background-color: #fefefe;
    border: solid #2DB9FE;
    border-radius: 8px;
    color: #2DB9FE;
    font-family: metropolis ;
    font-weight: 600;
    font-size: 12pt;
    text-align: center;
}

#hero-section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: 100vw;
    height: 1387px;
    align-items: center;
    background-image: url(./assets/hero-section-background-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero-image {
    width: 100%;
    height: auto;
}

/* #hero-section > div:nth-of-type(1) {
    margin: 10px 0 0 0;
}*/
#hero-section > div:nth-of-type(2) p {
    text-align: center;
    font-family: poppins;
    font-size: 35pt;
    color: #010740;
    margin: 40px 0 20px 0;
    /* font-weight: 400; */
}

#hero-section > div:nth-of-type(2) p span:nth-of-type(2) {
    margin: 0 80px;
}

#hero-section > div:nth-of-type(3) {
    margin: 0 0 20px 0
}

#hero-section > div:nth-of-type(3) p:nth-of-type(1) {
    max-width: 700px;
    text-align: center;
    font-family: metropolis;
    font-size: 12pt;
    color: #010740;
    font-weight: 500;
    margin: 0 0 10px 0;
}

#hero-section > div:nth-of-type(3) p:nth-of-type(2) {
    max-width: 700px;
    text-align: center;
    font-family: metropolis;
    font-size: 12pt;
    color: #000000;
    font-weight: 200;
    margin: 0;
}

#hero-section > div:nth-of-type(4) {
    margin-bottom: 80px;
}

#solution-narrative {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 600px;
    border: none;
    background-color: #fefefe;
    border-radius: 10px;
    justify-content: flex-start;
    box-shadow: 4px 6px 12px rgb(0, 0, 0, 0.3);
    margin-bottom: 20px;
    /* align-items: center; */
}

#problem-narrative {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 250px;
    border: none;
    background-color: #026F91;
    border-radius: 10px;
}

#problem-narrative > div:nth-of-type(1) {
    padding: 30px;
    width: 30%;
    min-width: 300px;
    height: 100%;
    position: relative;
}

#problem-narrative > div:nth-of-type(1) h2 {
    color: #fefefe;
    font-family: 'poppins', sans-serif;
    max-width: 180px;
    margin-bottom: 20px;
}

#problem-narrative > div:nth-of-type(1) p {
    color: #fefefe;
    font-family: 'metropolis', sans-serif;
    font-size: 11pt;
}

#problem-visual {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    min-width: 400px;
    position: relative;
}

#problem-visual img {
    position: absolute;
    height: 100%;
    margin: 0;
    object-fit: cover;
}

#problem-visual img.fg {
    width: 400px;
    height: auto;
    margin: 0 0;
    align-self: flex-end;
}

div.bg {
    background-image: url(./assets/troubled-subject-bg.png);
    border: none;
    height: 100%;
    width: 370px;
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
}

#problem-narrative > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: stretch;
    width: 80%;
    max-width: 300px;
    height: 100%;
    padding-right: 40px;
}

#problem-narrative > div:nth-of-type(3) div {
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    color: #fefefe;
    font-family: 'metropolis', sans-serif;
    font-size: 11pt;
    box-sizing: border-box;
}

#solution-div {
    display: flex;
    width: 100%;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    margin: 30px 0;
}

.solution-image {
    width: 350px;
    height: auto;
    margin-left: 30px;
}

#solution-text {
    margin-left: 20px;
    max-width: 550px;
    display: flex;
    /* gap: 10px; */
    flex-direction: column;
    justify-content: flex-end;
    color: #026F91;
}

#solution-text p {
    width: 100%;
    margin: 5px 0;
}

#solution-text > div div:nth-of-type(1) {
    border:#026F91 solid;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}

#solution-text div span {
    padding: 0 15px;
    letter-spacing: 8px;
    font-weight: 600;
    width: 100%;
}

#solution-text div p {
    letter-spacing: 8px;
    font-weight: 300;
    font-size: 9pt;
    margin-top: 10px;
}

#cards {
    display: flex;
    justify-content: center;
    height: 700px;
}

#cards div {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    /* justify-content: center; */
}

.test-category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 450px;
    /* margin: 10px 0; */
    text-align: center;
    width: 250px;
}

#cards p {
    width: 80%;
    color: rgb(0, 0, 0, 0.5);
}

.masked-card {
    width: 250px;
    height: auto;
    box-shadow: 4px 6px 12px rgb(0, 0, 0, 0.3);
    border-radius: 8px;

    /* masking */
    mask-image: src="./assets/test-category-image-mask.png"; /* white area visible, black transparent */
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    /* for safari webkit */
    -webkit-mask-image: src="./assets/test-category-image-mask.png";
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.view-btn {
    margin: 0 15px;
    width: 140px;
    height: 40px;
    background-color: #2DB9FE;
    border: none ;
    border-radius: 8px;
    color: #fefefe;
    font-family: metropolis ;
    font-weight: 500;
    font-size: 12pt;
    padding: 0 10px;
    text-align: center;
}

#ask-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 185, 254, 0.4);
}

#ask-section > div {
    width: 80%;
    margin-bottom: 30px;
}

.FAQ-item svg {
    width: 15px;
    height: auto;
    transition: transform 0.3s ease, color 0.25s ease;
    color: #b2b2b2;
}

.FAQ-item.active svg {
    transform: rotate(180deg);
    color:#01074099;
}

.FAQ-item:hover svg {
  color: #01074099;
}

.FAQ-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    border: none;
    background-color: rgb(109, 109, 109, 0.2);
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}